img
{
    width: 70px;
    height:70px;
    background-color: none;
}
#navbar
{

    background-color: #2fdfdf;
}

#color1
{
    background-color:#ffdcba ;
    color: black;
}
#color2
{
    background-color:#ffdcba ;
    color: black;
}
#color3
{
    background-color:#ffdcba ;
    color: black;
}
#texte1
{
    text-decoration-color: black;
}

#profil
{
width: 100%;
height:50% ;
}
#taille1
{
    width: 40%;
    height:40%;
} 

#taille2
{
    width: 40%;
    height:40%;
} 
#taille3
{
    width: 40%;
    height:40%;
} 
#taille4
{
    width: 40%;
    height:40%;
} 
#taille5
{
    width: 40%;
    height:40%;
} 
#taille6
{
    width: 40%;
    height:40%;
} 
#taille7
{
    width: 40%;
    height:40%;
} 

}
#tomate
{
    width: 40%;
    height:40%;
}
#duck
{
    width: 30%;
    height: 30%;
}
#aligator
{
    width: 30%;
    height: 30%;
}
#darth
{
    width: 30%;
    height: 30%;
}

#plante
{
    width: 30%;
    height:30%;
}
#butterfly
{
    width: 20%;
    height: 20%;
}
#picture1
{
    width: 50%;
    height: 50%;
}
#picture2
{
    width: 50%;
    height: 50%;
}
#picture3
{
    width: 50%;
    height: 50%; 
}

#back{ 
    background:url(https://cdn.pixabay.com/photo/2013/07/13/12/43/boy-160168_960_720.png)no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

#footer
{
    background-color: #2fdfdf;
}


color:#444;
}

{
 color: #444;
}

.input-field input[type=text]:focus {
 border-bottom: 1px solid #444;
 box-shadow: 0 1px 0 0 #444;
}

.input-field input[type=text].valid {
 border-bottom: 1px solid #444;
 box-shadow: 0 1px 0 0 #444;
}

.input-field input[type=text].invalid {
 border-bottom: 1px solid #444;
 box-shadow: 0 1px 0 0 #444;

.input-field .prefix.active {
    color: #444;
   }


}
